
@media screen and (max-width: 576px) {

  
    .navbar {
        /* flex-direction: column; */
        align-items: center;

    }

     .inter-font{
        /* max-width: 100%; */
        /* margin-left: block;
        margin-right: block; */
        margin: 0 auto;
       
    } 
    
    .nav-links{
        margin-top: 10px;
        display: none;
    }
    .hamburger-menu{
        display: block;
    }

    .get-body{
        /* grid-template-columns: repeat(1, 1fr); */
        flex-direction: column;
      
      
    }
    .video-tutorial{
        bottom: 30%;
        right: 58%;
       
    }

    .raund{
        height: 2.5rem;
        width: 2.5rem; 
        background-color: #E6533C;
        border-radius: 50%;
        position: absolute;
         left: 65px;
        top: 56%;
        
      } 
    .free-workout{
        top: 12%;
  left: 52%
    }
    

    .exercise{
        flex-direction: column;
    }

    .Run-section{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    .row{
        margin: 0 auto;
        padding-top: 30px;
    }
    .Trainings-section{
        text-align: center;
    }
    .all-trainings-img{
        display: flex;
          flex-direction: column; 
         justify-content: center; 
    }
    .trainings-img1{
         display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto; 
       
    }
    .trainings-img2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       margin: 0 auto;
    }
 
    .exercise2, .exercise4, .exercise5{
        
        width: 150px;
        height: 150px;
    }
    .training4{
        top: -25%;
        left: 10%; 
    }
    
    .img-3, .img-6{
        display: none;
    }

    .BMI-Table{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .bmi-container-all{
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;
    }

    /* .BMI-Calculator-Chart{
        margin: 0 auto;
        justify-content: center;
    } */
    
    .team-section{
        flex-direction: column;
    }
    .all-trainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center; 
        padding-left: 14%;
        padding-right: 10%;
        
    }
    .team-member1,
     .team-member2, 
     .team-member3, 
     .team-member4,
      .team-member5, 
      .team-member6{
  width: 80%;
    }

    .footer-section{
        /* flex-direction: column; */
    }
    .footer-content{
        flex-direction: column;
        padding-left: 20px;
    }
    
    
}