
@media screen and (max-width: 576px) {
    .navbar {
        /* flex-direction: column; */
        align-items: center;

    }

    /* .inter-font{
        max-width: 100%;
    } */
    
    .nav-links{
        margin-top: 10px;
        display: none;
    }
    .hamburger-menu{
        display: block;
    }

    .get-body{
        /* grid-template-columns: repeat(1, 1fr); */
        flex-direction: column;
      
    }
    .video-tutorial{
        bottom: 30%;
        right: 58%;
    }
    .free-workout{
        top: 12%;
  left: 52%
    }

    .exercise{
        flex-direction: column;
    }

    .Run-section{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .BMI-Table{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .bmi-container-all{
        flex-direction: column;
        gap: 20px;
    }
    
    .team-section{
        flex-direction: column;
    }
    .all-trainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);  
     
    }
    
}