
@media screen and (max-width: 576px) {
    .navbar {
        /* flex-direction: column; */
        align-items: center;

    }
    
    .nav-links{
        margin-top: 10px;
        display: none;
    }
    .hamburger-menu{
        display: block;
    }

    .get-body{
        /* grid-template-columns: repeat(1, 1fr); */
        flex-direction: column;
      
    }
    .video-tutorial{
        bottom: 30%;
        right: 58%;
    }
    .free-workout{
        top: 12%;
  left: 52%
    }
}