@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    
  }

  /* shared styles */

  .display-flex{
    display: flex;
  }  

/* navbar related styles */

  .navbar{
justify-content: space-between;
max-width: 1170px;
margin: 0 auto;
display: flex;

  }

  .nav-link{
    text-decoration: none;
    margin-right: 30px;
  }

  .nav-links{
    text-align: center;
    border: 0.5px solid rgba(0, 0, 0, 0.418);
    border-radius: 30px;
    height: 30px;
    align-items: center;
 
  }

  /* color style */

   .text-white{
    color: #FFFFFF;
  } 

  .text-primary{
   color: #E6533C;
   font-weight: 900;
   font-style: italic;
   
  }

  .inter-font{
    /* background-colo: #11111109; */
  }
.bg-dark{
    background-color: #191919cc;
}

.Home{
    background-color: #E6533C;
padding: 3px;
  border-radius: 30px;
}


.get-body{
  justify-content: space-between;
  display: flex;
max-width: 1170px;
margin: 0 auto;

}

.hamburger-menu{
   display: none; 
 margin-top: 20px;


}
/* get body */

.get-body{
  display: grid
  grid-template-columns: repeat(2, 1fr)
}
.heading-one{
  /* position: relative;
  top: 150px; */
}
.shape style{
  font-style: ;

}

.stay-healthy{
  color: #FFFFFF;
  font-size: 55px;

}

.paragraph-1{
  color: rgba(255, 255, 255, 0.5) ;
}

.btn-one{
  background-color: #E6533C;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 30px;
  height: 2.5rem;
  border: 1px solid #E6533C;

}

.btn-two{
    border: 1px solid white;
  background-color: #19191920; 
  color: #FFFFFF;
  border-radius: 30px;
  height: 2.5rem; 
}

.image-one{

 position: relative; 
}
.image{
  width: 500px;
  height: 600px;
  margin-right: 120px;
}

.heading-one{
text-align: center;
align-items: center;

}

.free-workout{
  background-color: rgba(0, 0, 0, 0.238);
  width: 30%;
  height: 20%px;
  text-align: center;
  border-radius: 12px;
  padding: 3px;
  position: absolute;
  top: 23%;
  left: 53%;

  
}

.card{
  color: #FFFFFF;
}
.Workout{
  color: rgba(255, 255, 255, 0.65);
}

.tutorial-contact{
  display: flex;
}

.video-tutorial{

  background-color: rgba(0, 0, 0, 0.238);
  width: 30%;
  height: 20%px;
  text-align: center;
  border-radius: 12px;
  padding: 3px;
  position: absolute;
  bottom: 10%;
  right: 82%;
}
.raund{
  height: 35px;
  width: 35px;
  background-color: #E6533C;
  border-radius: 50%;
  position: relative;
  bottom: 98px;
  right: 70px;
}