@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    
  }

  /* shared styles */

  .display-flex{
    display: flex;
  }  

/* navbar related styles */

  .navbar{
justify-content: space-between;
max-width: 1170px;
margin: 0 auto;
display: flex;

  }

  .nav-link{
    text-decoration: none;
    margin-right: 30px;
  }

  .nav-links{
    text-align: center;
    border: 0.5px solid rgba(0, 0, 0, 0.418);
    border-radius: 30px;
    height: 30px;
    align-items: center;
 
  }

  /* color style */

   .text-white{
    color: #FFFFFF;
  } 

  .text-primary{
   color: #E6533C;
   font-weight: 900;
   font-style: italic;
   
  }

  .inter-font{
    /* background-colo: #11111109; */
  }
.bg-dark{
    background-color: #191919cc;
}

.Home{
    background-color: #E6533C;
padding: 3px;
  border-radius: 30px;
}


.get-body{
  justify-content: space-between;
  display: flex;
max-width: 1170px;
margin: 0 auto;

}

.hamburger-menu{
   display: none; 
 margin-top: 20px;


}
/* get body */

.get-body{
  display: grid
  grid-template-columns: repeat(2, 1fr);
}
.heading-one{
  /* position: relative;
  top: 150px; */
}

 /* @import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

 .sevillana-regular {
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
} */
 .shape style{
  font-style: ;
}

.stay-healthy{
  color: #FFFFFF;
  font-size: 55px;

}

.paragraph-1{
  color: rgba(255, 255, 255, 0.5) ;
}

.btn-one{
  background-color: #E6533C;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 30px;
  height: 2.5rem;
  border: 1px solid #E6533C;

}

.btn-two{
    border: 1px solid white;
  background-color: #19191920; 
  color: #FFFFFF;
  border-radius: 30px;
  height: 2.5rem; 
}

.image-one{

 position: relative; 
}
.image{
  width: 500px;
  height: 600px;
  margin-right: 120px;
}

.heading-one{
text-align: center;
align-items: center;

}

.free-workout{
  background-color: rgba(0, 0, 0, 0.238);
  width: 30%;
  height: 20%px;
  text-align: center;
  border-radius: 12px;
  padding: 3px;
  position: absolute;
  top: 23%;
  left: 53%;

  
}

.card{
  color: #FFFFFF;
}
.Workout{
  color: rgba(255, 255, 255, 0.65);
}

.tutorial-contact{
  display: flex;
}

.video-tutorial{

  background-color: rgba(0, 0, 0, 0.238);
  width: 30%;
  height: 20%px;
  text-align: center;
  border-radius: 12px;
  padding: 3px;
  position: absolute;
  bottom: 10%;
  right: 82%;
}
.raund{
  height: 35px;
  width: 35px;
  background-color: #E6533C;
  border-radius: 50%;
  position: relative;
  bottom: 98px;
  right: 70px;
}

/* teams section start */

.banner-section-all{
  background-color: rgba(0, 0, 0, 0.904);
}


.teams-section{
  text-align: center;
 
}
.banner-title{
  color: #FFFFFF;
}

.banner-description{
  color:  rgba(255, 255, 255, 0.5);
}


.exercise{
  display: flex;
  gap: 20px;
  margin-top: 20px;
 justify-content: center;
}

.movement-description{
 text-align: center;
}

.movement-img{
  border-radius: 50%;
}
.movement{
  color: #FFFFFF;
}

.description-1{
  color: rgba(255, 255, 255, 0.5);
}


.time-description{
  text-align: center;
}
.time-img{
  border-radius: 50%;
}
.time{
  color: #FFFFFF;
}

.description-2{
  color: rgba(255, 255, 255, 0.5);
}

.practice-description{
  text-align: center;
}

.practice-img{
  border-radius: 50%;
}

.practice{
  color: #FFFFFF;

}

.description-3{
color: rgba(255, 255, 255, 0.5);
}

.weight-loss-description{
  text-align: center;
}

.weightloss-img{
  border-radius: 50%;
}

.weight-loss{
  color: #FFFFFF;
}

.description-4{
  color: rgba(255, 255, 255, 0.5);
}

/* run an extra section */


.Run-section{
  display: flex;
  justify-content: center;
  margin-top:40px ;
  gap: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.265)

  
  
}
.run-img{
  width: 250px;
  height: 200px;
  border-radius: 20px;


}

.run{
  color: #FFFFFF; 
}
.description-5{
  color: rgba(255, 255, 255, 0.5); 
}
.run-btn{
  width: 150px;
  height: 30px;
  border-radius: 30px;
  color: #FFFFFF;
  background-color: #E6533C;
}

/* Training and exercise */
/* .trainings-img{
  display: grid;
  grid-template-columns: repeat(3, 1fr); */


/* Trainings and Exercises */

.Trainings-section{

}

.trainings{
  color: #FFFFFF;
}


.training-part{
  color: rgba(255, 255, 255, 0.5);
}

 /* .trainings-img{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px; 
 
} */

.trainings-img1{
 display: flex;


}
 .trainings-img2{
  display: flex;
 margin-top: -4.2%;
} 
.exercise1{
  width: 150px;
  height: 150px;
  filter: sepia(100%) 
}

.training1{
  color: #000000;
  position: relative;
  top: -25%;
  font-size: 10px;


}
 .exercise2{
  width: 350px;
  height: 150px;

  filter: 
  
 }
.training2{
  color: #FFFFFF;
  position: relative;
  top: -25%;
  font-size: 10px;
}

.exercise3{
  width: 180px;
  height: 150px;
 }
.training3{
  color: #FFFFFF;
  position: relative;
  top: -25%;
  font-size: 10px;
}

.exercise4{
  width: 260px;
  height: 150px;
  filter: 
 }
.training4{
  color: #FFFFFF;
  position: relative;
  top: -70%;
  left: 60%;
  font-size: 10px
}

.exercise5{
  width: 180px;
  height: 150px;
 }
.training5{
  color: #FFFFFF;
  position: relative;
  top: -25%;
  left: 10%;
  font-size: 10px
}

.exercise6{
  width: 240px;
  height: 150px;
 
 }
.training6{
  color: #FFFFFF;
  position: relative;
  top: -25%;
  font-size: 10px;
}
 .row{
 justify-content: center;
 margin-left: 18%;
 margin-top: 8%;
} 


/* BMI- Calculator */


.BMI-Calculator{
  text-align: center;
}
.bmi-h-1{
  color: #FFFFFF;
}

.bmi-description{
  color: rgba(255, 255, 255, 0.5); 
}

.bmi-h-2{
  color: #FFFFFF;
}

td, th{
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 10px 10px;
}
table{
  border-collapse: collapse;
 
}

.thead{
  color: #FFFFFF;
}

.tbody{
  color: rgba(255, 255, 255, 0.5);
}